archive/
.ruff_cache/
.mypy_cache/
__pycache__/
.vscode/
.venv/
logs/
.ropeproject/
trim_streams.build/
trim_streams.dist/
trim_streams.onefile-build/

*.log
.env
.DS_Store
trim-streams
__init__.py
# Python cache files
*.py[cod]
*$py.class
.pytest_cache/
# Virtual environments
venv/
env/
# IDE specific files
.idea/
# Miscellaneous
